<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Kaisei+Decol&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Halant&display=swap" rel="stylesheet" />
  <link href="main.css" rel="stylesheet" />
  <title>Document</title>
</head>

<body>
  <div class="v229_510">
    <div class="v229_512"></div>
    <div class="v229_513"></div><span class="v229_514">MEDTECH</span><span class="v229_515">about</span><span
      class="v229_516">prescription</span><span class="v229_517">disease prediction</span><span
      class="v229_518">medicine detection</span><span class="v229_519">get your medicine</span><a href="home.html"><span
      class="v229_520">Home</span></a>
    <div class="v229_521"></div>
    <div class="v229_522"></div><span class="v229_523">SIGNUP</span>
    <div class="name"></div><span class="v229_525">LOGIN</span>
    <div class="v229_526"></div>
    <div class="v229_528"></div><span class="v257_60"> The abstract of the entire project is the improvement of health
      via prevention,diagnosis and treatment .These days there are many services of concern ,in which price growth can
      be especially sticky and put more wages include healthcare .
      The maintenance and restoration of health by professionals might seem challenging and has higher healthcare costs.
      But , it might not be of extreme use to the people of various economic classes . We , thereby get a first opinion
      of the symptom-based prediagnosis of the disease. It becomes an accessible way of personalized experience with
      improved time and commute efficiency.
      We proceed by extracting the text from handwritten prescription by professional physician which lowers the chance
      of error in the diagnosis.
      It also deals with the prediction of diseases through which one can decide on the mild or chronic health
      condition.
      Once the symptoms are recognized , it even facilitates to detect the medicine pertaining to the disease
      predicted.It also provides an additional
      advantage of buying drugs online . This way , it manages to increase proficiency in the healthsector.</span><span
      class="v238_531">ABOUT</span>
    <div class="name"></div>
    <div class="name"></div>
    <div class="v238_537"></div>
  </div>
</body>

</html>